h1 {
    text-align: center;
    font-family: "Segoe UI Black";
    color: Tomato;
}
h2 {
    text-align: center;
    font-family: "Segoe UI Black";
    color: DodgerBlue;
}
h3 {
    text-align:center;
    font-family: "Segoe UI Black";
    color: DodgerBlue;
}

.header {
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.map {
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
}
.map_img {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.svg_map_img {
    width: 500px;
    height: 500px;
    border: 1px solid;
}
.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.svg_time {
    width: 80px;
    height: 500px;
    border: 1px solid;
}
.histogram {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
}
.svg_histo {
    width: 500px;
    height: 500px;
    border: 1px solid;
}

@media (max-width: 1100px) {
    .middle {
        flex-direction: column;
    }
    .map,
    .histogram {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .map_img{
        width: 80%;
    }
    .timeline {
        width: 20%;
    }
}
@media (max-width: 610px) {
    .map_img{
        width: auto;
    }
    .timeline {
        width: auto;
    }
}