h1 {
    text-align: center;
    font-size: x-large;
}
h2 {
    text-align: center;
    font-size: large;

}
h3 {
    text-align:center;
    font-size: medium;
}

.header {
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.map {
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
}
.map_img {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;

}
.svg_map_img {
    width: 500px;
    height: 500px;
}
.subunit {
    fill: green;
    stroke: #FFFFFF;
    opacity: 0.6;
}
.subunit-label {
    fill: #000000;
    fill-opacity: .4;
    font-size: xx-small;
    text-anchor: middle;
}
.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.svg_time {
    width: 80px;
    height: 500px;
}
.histogram {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
}
.div_histo {
    display: flex;
    width: 500px;
    height: 500px;
}
.div_histo svg{
    width: 250px;
    height: 500px;
}
.svg_histoA rect {
    fill: steelblue;
}
.svg_histoB rect{
    fill: pink ;
}
.svg_map_img rect{
    fill: black ;
}
@media (max-width: 1100px) {
    .middle {
        flex-direction: column;
    }
    .map,
    .histogram {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .map_img{
        width: 80%;
    }
    .timeline {
        width: 20%;
    }
    .svg_map_img {
        width: 500px;
    }
    .svg_time {
        width: 80px;
    }
    .div_histo {
        width: 500px;
    }
    .div_histo svg{
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 640px) {
    .map {
        flex-direction: column;
    }
    .svg_map_img {
        width: 350px;
        height: 350px;
    }
    .svg_time {
        width: 350px;
        height: 50px;
    }
    .div_histo {
        width: 350px;
        height: 350px;
    }
}