.headerA_svg {
    height: 80px;
    width: 600px;
}
.headerB_svg {
    height: 80px;
    width: 730px;
}
.header_label {
    font-family: sans-serif;
    fill: #696630;
    font-size: 20pt;
}
.tooltip {
    line-height: 1;
    padding: 4px;
    background: #efeedc;
    color: #696630;
    border-radius: 2px;
    text-align: left;
    font: 12px sans-serif;
    opacity: 0.8;
    position: absolute;
    visibility: hidden;
}
.info_button {
    r: 16;
    stroke: #696630;
    stroke-width: 1.3px;
    fill: transparent;
    cursor: pointer;
    opacity: 0;
}
.info_i {
    fill: #696630;
    font-family: serif;
    font-size: 16pt;
    opacity: 0;
}
.text_clickable_grp, .text_clickable_grid {
    font-family: sans-serif;
    fill: #696630;
    font-size: 10pt;
    width: 10px;
    opacity: 0;
    cursor: pointer;
}
.magnifier_circle {
    r: 9;
    stroke: #696630;
    stroke-width: 3px;
    fill: transparent;
    opacity: 0;
}
.magnifier_line {
    stroke: #696630;
    stroke-width: 3px;
    opacity: 0;
}
.info_text {
    font-family: sans-serif;
    fill: #696630;
    font-size: 10pt;
    width: 10px;
    opacity: 0;
}
.magnifier_area {
    fill: transparent;
    cursor: pointer;
}
.little_charts {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    justify-content: left;
    align-items: left;
}
.little_charts_svg {
    width: 300px;
    height: 650px;
    background-color: #d7d4a8;
}
.births_chart, .tot_pop_chart, .skyline{
    stroke: #696630;
    stroke-width: 1.5px;
    fill: #e7e5cb;
}
.skyline{
    stroke-width: 1.5px;
    fill: transparent;
}
.births_x, .births_y, .pop_x, .pop_y{
    text-anchor: end;
    font-size: 7pt;
    font-family: sans-serif;
    fill: #696630;
    opacity: 0;
}
.index_charts {
    r: 4;
    fill: white;
    stroke: #696630;
    stroke-width: 1.5px;
    opacity: 0;
}
.places_text {
    text-align: right;
    font-size: 11pt;
    font-family: sans-serif;
    opacity: 0;
    fill: #696630;
    cursor: pointer;
}
.map{
    display: flex;
    width: 65%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.map_svg {
    width: 550px;
    height: 600px;
}
.background_map {
    fill: transparent;
}
.regions, .provinces, .municipalities{
    fill: #f7f6ee;
    stroke: #FFFFFF;
    opacity: 0.7;
    cursor: pointer;
}
.regions_label,.provinces_label, .municipalities_label{
    fill: #464420;
    font-family: sans-serif;
    font-size: 14pt;
    text-anchor: middle;
}
.data_not_found {
    font-size: 16pt;
    font-family: sans-serif;
    fill: #696630;
}
.timeline {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 70px;
    position: relative;
}
.time_svg {
    width: 600px;
    height: 70px;
}
.year_label{
    font-size: 7pt;
    font-family: sans-serif;
    fill: #696630;
    opacity: 0;
}
.epoc_label {
    font-size: 10pt;
    font-family: sans-serif;
    opacity: 0;
}
.div_cursor {
    font-size: 11pt;
    font-family: sans-serif;
    color: #696630;
    background-color: transparent;
}
.cursor {
    fill: white;
    stroke: #696630;
    stroke-width: 1.2px;
    width: 8px;
    height: 20px;
    cursor: pointer;
}
.histogram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.histoA_svg, .histoB_svg{
    width: 300px;
    height: 550px;
}
.rect_histo_left {
    fill: steelblue;
    opacity: 0.7;
    stroke: #FFFFFF;
    stroke-width: 0.8px;
    position: absolute;
    z-index: 1;
}
.rect_histo_right {
    fill: pink;
    opacity: 0.7;
    stroke: #FFFFFF;
    stroke-width: 0.8px;
    position: absolute;
    z-index: 1;
}
.rect_hover_histo_left {
    fill: #2b506e;
    opacity: 0.7;
    stroke: #FFFFFF;
    stroke-width: 0.8px;
    position: absolute;
    z-index: 1;
}
.rect_hover_histo_right{
    fill: #ff6680;
    opacity: 0.7;
    stroke: #FFFFFF;
    stroke-width: 0.8px;
    position: absolute;
    z-index: 1;
}
.grid_label {
    fill: #bfba73;
    font-family: sans-serif;
    font-size: 8pt;
    text-anchor: middle;
    opacity: 0;
}
.grid_line {
    stroke: #e7e5cb;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
@media (max-width: 1300px) {
    .histogram_svg svg{
        width: 100%;
        height: 100%;
    }
}