.tooltip {
    line-height: 1;
    padding: 4px;
    background: #efeedc;
    color: #696630;
    border-radius: 2px;
    text-align: left;
    font: 12px sans-serif;
    opacity: 0.9;
}

.places_history {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
}
.places_history_svg {
    width: 200px;
    height: 600px;
}
.places_text, .places_text_IT {
    text-align: center;
    font-size: 16pt;
    font-family: sans-serif;
    fill: #696630;
    cursor: pointer;
}
.map{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.map_svg {
    width: 550px;
    height: 600px;
}
.background_map {
    fill: transparent;
}
.regions, .provinces, .municipalities{
    fill: #008000;
    stroke: #FFFFFF;
    opacity: 0.7;
    cursor: pointer;
}
.regions:hover, .provinces:hover, .municipalities:hover{
    opacity: 1;
}
.regions_label,.provinces_label, .municipalities_label{
    fill: #464420;
    font-family: sans-serif;
    font-size: 14pt;
    text-anchor: middle;
}
.timeline {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 50px;
}
.time_svg {
    order: 2;
    width: 600px;
    height: 50px;
}
.year_label {
    font-size: 7pt;
    font-family: sans-serif;
    fill: #696630;
    cursor: pointer;
}
.epoc_label {
    font-size: 10pt;
    font-family: sans-serif;
}
.histogram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.histoA_svg, .histoB_svg{
    width: 300px;
    height: 550px;
}
.histoA_svg rect {
    fill: steelblue;
    opacity: 0.7;
    stroke: #FFFFFF;
    stroke-width: 0.8px;
}
.histoB_svg rect{
    fill: pink;
    opacity: 0.7;
    stroke: #FFFFFF;
    stroke-width: 0.8px;
}
.histo_label {
    fill: #464420;
    font-family: sans-serif;
    font-size: 12pt;
    text-anchor: middle;
}
@media (max-width: 1200px) {
    .timeline{
        order: 1;
    }
    .histogram {
        order: 2;
    }
    .histogram_svg svg{
        width: 100%;
        height: 100%;
    }
}