body {
    background-color: #f7f6ee;
}
p {
    text-align: center;
    font-family: sans-serif;
    color: #696630;
}
.header {
    height: 45px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 30pt;
}
.middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section {
    background-color: #efeedc;
    font-size: 13pt;
}
.middle_left {
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 55%;
}
.middle_right {
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43%;
}
@media (max-width: 1250px) {
    .middle {
        flex-direction: column;
    }
    .middle_left {
        width: 100%;
    }
}