* {
    margin:0;
    padding:0;
}
body {
    background-color: #f7f6ee;
}
p {
    vertical-align: center;
    margin-left: 30px;
    line-height: 60px;
    font-family: sans-serif;
    color: #696630;
}
.header {
    background-color: #e7e5cb;
    vertical-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 20pt;
}
.middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section {
    background-color: #efeedc;
    font-size: 13pt;
}
.middle_left {
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 55%;
}
.middle_right {
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43%;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f6ee;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 40%;
    left: 50%;
    right: -10%;
    font-size: 16px;
    font-family: sans-serif;
    color: #696630;
    transform: translate(-50%,-50%);
}
a:link {
    color: #696630;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #696630;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #FFFFFF;
}
@media (max-width: 1250px) {
    .middle {
        flex-direction: column;
    }
    .middle_left {
        width: 100%;
    }
}